#global resources for Genotools Server
ZONE: europe-west4-a
CLUSTER_NAME: gke-prod-cluster #gke-test-cluster
PROJECT_ID: gp2-release-terra
nodePools:
  appsNodePool: apps-node
  genotoolsApiNodePool: genotools-api-node
  gtPrecheckApiNodePool: gtprecheck-api-node
  snpMatrixAPINodePool: snp-matrix-node-pool

persistentVOLUME: gtserver-pv
persistentVOLUMECLAIM: gtserver-pvc
GCP_SA: gsa-gtserver
#kubernetes resources
ksaBucket: ksa-bucket-access


namespace: kns-gtserver
# namespace: kns-test

dnsName: genotools-server.com #genotoolsservers.com #genotools-server.com
# ingressName: gtserver-ingress
# globalIPName: gke-ingress

argoRelated:
  argoRoles:
    roleName: argo-workflow-role
    bindingName: argo-workflow-role-binding
  argoWF:
    routeName: argo-route
    namespace: argo
    hostname: workflows.genotools-server.com
    serviceAccountName: argo-ksa
    workflowRoleBindingName: argo-workflow-role-binding
gatewayAPI:
  gatewayName: gt-server-gwapi
  certKey: gt-server-gateway
  globalIPName: gke-ingress #gt-test-ip
#  routeName: genotools-routes

gcpSecretManager:
  ksaExternalSecret: ksa-external-secrets
  secretStoreName: gcp-secrets-store
  externalSecretName: gcp-external-secret
  kubernetesSecretName: gtserver-secrets
  iapRelated:
    apps:
      externalSecretName: apps-iap-secrets
      kubernetesSecretName: apps-iap-k8s-secret
      gcpSecretName: iap-related
    # genotrackerApp:
    #   externalSecretName: genotracker-app-iap-secret
    #   kubernetesSecretName: genotracker-app-iap-k8s-secret
    #   gcpSecretName: iap-related



pgSQL:
  ksaName: ksa-postgresql
  secrets:
    secName: gke-cloud-sql-secrets
    dbName: database
    user: username
    pass: password

sslRelated:
  caIssuer: letsencrypt-staging
  sec: gtserver-ssl

appservices:
  precisionMedApp:
    image: europe-west4-docker.pkg.dev/gp2-release-terra/genotools-server/apps/precision-med-app:1fb0b02
    containerName: precisionmed-app-cont
    svcName: precisionmed-app-svc
    iapPolicyBackend: precisionmed-app-iap-backend
    containerPort: 8080
    servicePort: 8000
    hostname: precision-med.genotools-server.com
    routeName: precisionmed-app-route
    podName: precisionmed-app-pod
    volume: precisionmed-app-vol
    mountPath: /app/data
    iapValues:
      ClientID: precisionmed_app_id
      ClientSecret: precisionmed_app_secret

  genotrackerApp:
    image: europe-west4-docker.pkg.dev/gp2-release-terra/genotools-server/apps/genotracker-app:1fb0b02
    containerName: genotracker-app-cont
    svcName: genotracker-app-svc
    iapPolicyBackend: genotracker-app-iap-backend
    containerPort: 8080
    servicePort: 8000
    hostname: genotracker-app.genotools-server.com
    routeName: genotracker-app-route
    podName: genotracker-app-pod
    volume: genotracker-app-vol
    mountPath: /app/data
    iapValues:
      ClientID: genotracker_app_id
      ClientSecret: genotracker_app_secret

    # ksaPGSQL: ksa-postgresql
    # iapBackend: genotracker-app-iap-backend
    # iapSec: genotracker-app-iap-sec

  gp2browserApp:
    image: europe-west4-docker.pkg.dev/gp2-release-terra/genotools-server/apps/gp2-browser:1fb0b02
    containerName: gp2browser-app-cont
    svcName: gp2browser-app-svc
    iapPolicyBackend: gp2browser-iap-backend
    containerPort: 8080
    servicePort: 8000
    hostname: gp2browser-app.genotools-server.com
    routeName: gp2browser-app-route
    podName: gp2browser-app-pod
    volume: gp2browser-app-vol
    mountPath: /app/data
    iapValues:
      ClientID: gp2browser_id
      ClientSecret: gp2browser_secret


microservices:
  genotrackerApi:
    image: europe-west4-docker.pkg.dev/gp2-release-terra/genotools-server/microservices/genotracker-api:1fb0b02
    containerName: genotracker-api-cont
    svcName: genotracker-api-svc
    containerPort: 8080
    servicePort: 8000
    hostname: genotracker-api.genotools-server.com
    routeName: genotracker-api-route
    podName: genotracker-api-pod
    volume: genotracker-api-vol
    mountPath: /app/data
    apiKey:
      name: genotracker-secret
      key: GENOTRACKER_API_KEY
  genotoolsApi:
    image: europe-west4-docker.pkg.dev/gp2-release-terra/genotools-server/microservices/genotools-api:1fb0b02
    containerName: genotools-api-cont
    svcName: genotools-api-svc
    containerPort: 8080
    servicePort: 8000
    # hostname: genotools-api.genotoolsserver.com
    hostname: genotools-api.genotools-server.com
    routeName: genotools-api-route
    podName: genotools-api-pod
    volume: genotools-api-vol
    mountPath: /app/genotools_api/data
    apiKey:
      name: genotools-api-sec
      key: GENOTOOLS_API_KEY #genotools-api-key
    patKey:
      name: genotools-api-sec
      key: EMAIL_PAT #genotools-api-key
